<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/media/style.css">
    <link rel="alternate" type="application/atom+xml"
          href="http://feeds.feedburner.com/jbalogh"
          title="Feed of latest posts">
  </head>
  <body>
    {{ content }}
    <!--
    <a href="#" style="position: absolute; top: 0; right: 0" onclick="toggle()">toggle</a>
    <script>
      toggle = function(){ document.body.classList.toggle('grid'); return false; }
    </script>
    -->
    <script defer src="/media/script.js?x"></script>
  </body>
</html>
