<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/media/style.css?z">
    <link rel="alternate" type="application/atom+xml"
          href="http://feeds.feedburner.com/jbalogh"
          title="Feed of latest posts">
  </head>
  <body>
    {{ content }}
    <footer>
      <ul>
        <li><a class="secret" href="http://jbalogh.me">Jeff Balogh</a></li>
        <li>jeff@jbalogh.me</li>
      </ul>
      <ul>
        <li><a href="https://github.com/jbalogh">github.com/jbalogh</a></li>
        <li><a href="https://twitter.com/jeffbalogh">@jeffbalogh</a></li>
      </ul>
    </footer>
    <script defer src="/media/script.js?z"></script>
  </body>
</html>
